<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Certificate</title>
<link rel="stylesheet" href="style.css">

<!-- importing gilda display font  -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap" rel="stylesheet">

<!-- kelly  -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gilda+Display&family=Kelly+Slab&display=swap" rel="stylesheet">


</head>
<body>
<div class="certificate-container banner">
  <h1 class="gilda-display-regular blue">CERTIFICATE</h1>
  <h3 class="certificate-title kelly-slab-regular ">CERTIFICATE OF PARTICIPATION</h3>
  <p class="body-text kelly-slab-regular">This certificate is proudly presented to</p>
  <span class="participant-name">[NAME-OF-PARTICIPANT]</span>
  <p class="body-text kelly-slab-regular">for successfully completing the</p>
  <p class="kelly-slab-regular">[EVENT-NAME]</p>
  <p class="kelly-slab-regular">Date: [DATE]</p>
  <div class="signatures-container">
    <div>
      <p>signature</p>
      <p>Saranda Secratroy</p>
    </div>
    <div>
      <p>signature</p>
      <p>AlgoAlies Secratroy</p>
    </div>
    <div>
      <p>signature</p>
      <p>Cosmos Secratroy</p>
    </div>
  </div>
</div>
</body>
</html>
